@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}


body {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	color: rgba(108, 117, 125, 0.7);
	font-family: "Jost", sans-serif;
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	background: url("../img/banner-bg.png") no-repeat;
}

.body2 {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	color: rgba(5, 5, 4, 0.418);
	font-family: "Jost", sans-serif;
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef !important;
    opacity: 1;
}

::-webkit-input-placeholder { /* Chrome */
	color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #999;
	opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
	color: #999;
	opacity: 1;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

.home h1{
	color:#0f69c4;
	font-size: 3em;;
	font-weight: 300;
	margin-top: 130px !important;
}

.home h4{
	color:#35404e;
}

.home .bg-light {
    background-color: transparent !important;
	padding-left: 0;
}

.home .bg-gray {
    background-color: #e7ecf3;
}

.home .bg-blue {
    background-color: #132244;
}

.home .txt-blue{
	color: #14468c;
}


.home a{
	color: #14468c;
}

.home .borde{
	border-right: 2px solid #fff;
}

.home.form-rut h4{
	color:#fff;
}

.home.form-rut .btn-warning{
	background-color: #ff3514;
	border: 0;
	color: #fff;
	width: 120px;
}

.home.form-rut input[type="text"] {
	height: 37px;
}

.home .formulario input[type=text]{
	background-color: #fff;
}


h1,
h3 {
	color: #7369b9;
}

/* styles.css o el archivo CSS que estés utilizando */
.h1-home {
	color: #0F69C4; /* Color azul */
  }

.formulario h1.h1-home {
	color:#0F69C4 !important;
}

.formulario .text-home-footer p {
	color: #959ca2 !important;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}

label.error{
    width: 100%;
    margin-top: 0;
    font-size: 1em !important;
    color: #dc3545 !important;
    margin-top: -1em;
	display: contents;
}

#contacto section:not(:first-of-type), .hide {
    display: none;
}

#logo-gob{
	max-width: 1620px;
	margin-left: -25px !important;

}

#logo-gob img{
	margin-top: -15px;
}

.card-wrapper {
	height: auto;
	max-width: 1620px;
	-webkit-box-shadow: 0px 5px 62px 0px rgb(0 0 0 / 19%);
	box-shadow: 0px 5px 62px 0px rgb(0 0 0 / 19%);
	border: 0;
}

.formulario a.cancelar {
	position: absolute;
	top: 0.1em;
    right: 1em;
    font-size: 1.8em;
	color: #bdbdbd;
}

.formulario a.cancelar i::before {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
	border-radius: 100%;
}


.formulario input[type=text],
.formulario input[type=tel],
.formulario input[type=number],
.formulario input[type=email],
.formulario select {
	width: 100%;
	height: 50px;
	overflow: visible;
	padding-left: 10px;
	border-radius: 3px;
	-webkit-transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;
	background-color: #f1f9fe;
	border: 3px solid #b4d4e4;
	font-size: 1.3em;
	margin-bottom: 5px;
}

.formulario textarea {
	padding-left: 10px;
	border-radius: 3px;
	-webkit-transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;
	background-color: #f1f9fe;
	border: 3px solid #b4d4e4;
}

/*.formulario .seleccion:after {
    top: 50px;
    right: 12px;
    font-weight: 900;
    position: absolute;
	font-family: bootstrap-icons !important;
	content: "\f229";
    height: 25px;
    width: 25px;
    line-height: 25px;
    background-color: #e5e4e4;
    border-radius: 100%;
    text-align: center;
}*/

.formulario label {
	color: #5756a2;
	font-size: 19px;
	font-weight: 500;
}

.card-wrapper .card-body {
	padding: 0;

	background-color: #f5f7f8;
}

.formulario .btn-primary {
	background-color: #72bb4c;
	border-color: #72bb4c;
	border-radius: 3px;
}

.formulario .btn-info {
	background-color: #7369b9 ;
	border-color: #7369b9 ;
	border-radius: 3px;
}

.formulario .btn-light {
	color: #777;
	background-color: #e8e8e8;
	border-radius: 3px;
}

.pasos {
	background-color: #263ea5;
	background-size: cover;
	font-size: 1.3em;
}
.formulario.pasos {
	background-color: #263ea5;
	background-size: cover;
	font-size: 1.3em;
}

.pasos a.activo,
.pasos a.activo i {
	color: #fff;
}

.pasos a.activo:after {
	background-color: #fff;
}

.pasos a i,
.pasos a {
	color: #6076d1;
}

.pasos a i {
	font-size: 2em;
}

.pasos .menu-left a:after {
	margin: 5px 18px;
	content: "";
	display: block;
	width: 2px;
	height: 37px;
	background-color: #6076d1;
	z-index: 1;
}

.pasos .menu-left a:last-child:after {
	display: none;
}

.progress {
	height: 20px
}

.progress-bar {
	background-color: #2196f3;
}

.barra {
	width: 75%;
	bottom: 0;
}

.barra h5 {
	color: #fff;
	font-weight: 700;
}


/*votos*/
.votos h5 {
	color: #222
}

.star-cb-group {
	font-size: 0;
	unicode-bidi: bidi-override;
	direction: rtl;
}

.star-cb-group * {
	font-size: 1rem;
}

.star-cb-group > input {
	display: none;
}

.star-cb-group > input + label {
	overflow: hidden;
	width: 2em;
	white-space: nowrap;
	cursor: pointer;
}

.star-cb-group > input + label:before {
	display: block;
	font-family: bootstrap-icons !important;
	content: "\f55d";
	color: #a5a5a5;
	font-size: 1.4em;
}

.star-cb-group > input:checked ~ label:before,
.star-cb-group > input + label:hover ~ label:before,
.star-cb-group > input + label:hover:before {
	display: block;
	font-family: bootstrap-icons !important;
	content: "\f55b";
	color: #ffc107;
	text-shadow: 0 0 1px #333;
}

.star-cb-group > .star-cb-clear + label {
	text-indent: -9999px;
	width: .5em;
}

.star-cb-group > .star-cb-clear + label:before {
	width: .5em;
}

.star-cb-group:hover > input + label:before {
	font-family: bootstrap-icons !important;
	display: block;
	content: "\f55d";
	color: #a5a5a5;
	text-shadow: none;
}

.star-cb-group:hover > input + label:hover ~ label:before,
.star-cb-group:hover > input + label:hover:before {
	font-family: bootstrap-icons !important;
	display: block;
	content: "\f55b";
	color: #ffc107;
	text-shadow: 0 0 1px #333;
}

.menu-responsivo {
	color: #fff;
	background-color: #263ea5;
}

.menu-responsivo a {
	color: #6076d1;
	font-size: 2.8em;
	position: relative;
}

.menu-responsivo a.activo {
	color: #fff;
}

.menu-responsivo .nav a:after {
	content: "";
	position: absolute;
	top: 60%;
	right: -30px;
	display: block;
	width: 35px;
	height: 1px;
	background-color: #6076d1;
	z-index: 1;
}

.menu-responsivo .nav li:last-child a:after {
	display: none;
}

.gracias .check, .error .icon {
	width: 220px;
}

â€‹.gracias .check path {
    fill:#61b446;
}

.inicio .formulario .card-body{
	background-color: #fff;;
}

.inicio .formulario a{
	-webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.inicio .formulario .card  p{
	color:#007bff;
}

.inicio .formulario .card:hover {
    -webkit-box-shadow: 0 21px 21px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 21px 21px 0 rgb(0 0 0 / 10%);
	-webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

/*
	BTN Clave Ãšnica.
	Estilos grÃ¡ficos para el botÃ³n de clave Ãºnica.
	V 1.1.0
	por @pyanez
	24/11/2020
*/


/* Boton estilo de base */
.btn-cu {
	/*display: inline-block;*/
	display: flex;
	/*justify-content: center;*/
	font-family: Roboto, sans-serif;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 0;
}

/*Icono ClaveÃšnica*/
.btn-cu .cl-claveunica {
	display: inline;
	float: left;
	text-indent: -9999px;
}
/*Texto ClaveÃšnica*/
.btn-cu .texto {
	padding-left: 3px;
	text-decoration: underline;
}

/* TamaÃ±o S */
.btn-cu.btn-s {
	width: 130px;
	min-width: 130px;
	height: 36px;
	padding: 8px 10px !important;
	font-size: 14px;
}

.btn-cu.btn-s .cl-claveunica {
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

/* TamaÃ±o M */
.btn-cu.btn-m {
	width: 160px;
	min-width: 160px;
	height: 42px;
	padding: 8px 18px 8px 15px !important;
	font-size: 16px;
	line-height: 1.6em;
}

.btn-cu.btn-m .cl-claveunica {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
}

/* TamaÃ±o L */
.btn-cu.btn-l {
	width: 180px;
	min-width: 180px;
	height: 48px;
	padding: 11px 18px !important;
	font-size: 16px;
}

.btn-cu.btn-l .cl-claveunica {
	width: 26px;
	height: 26px;
	background-size: 26px 26px;
}

/* TamaÃ±o fluid-width */
.btn-cu.btn-fw {
	max-width: 550px;
	width: 100%;
	display: flex;
	justify-content: center;
}
/* Color Estandar */
.btn-cu.btn-color-estandar {
	background-color: #0F69C4;
	color: #FFF;
}
.btn-cu.btn-color-estandar .cl-claveunica {
	background: url(../images/cu-blanco.svg);
	/* Esta URL debe ser modificada segun donde 
	    quede alojado el documento */
}
.btn-cu.btn-color-estandar:hover {
	background-color: #0C549C;
	color: #FFF;
}

.btn-cu.btn-color-estandar:active {
	background-color: #093F75;
	color: #FFF;
}

.btn-cu.btn-color-estandar:focus {
	background-color: #0C549C;
	color: #FFF;
	outline: 1px dashed #000;
}


@media screen and (max-width: 576px) {
	.menu-responsivo .nav a:after {
		display: none;
	}

	.star-cb-group > input + label:before {
		font-size: 1em;
	}

	.star-cb-group > input + label {
		width: 1em;
	}
}

@media screen and (max-width: 1199px) {
	.home .borde {
		border-color: transparent;;
	}
}
